.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.title {
  color: #61dafb;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.student-info {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.college {
  font-size: 1.5rem;
  font-weight: bold;
}
